@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom globals */
html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900;
}

.dark body {
  @apply bg-slate-900 text-slate-100;
}